.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.main {
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-flow: wrap;
    height: calc(100vh - 64px);
    background-color: white;
}

.main>section {
    padding: 32px;
}

.nav {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    width: 250px;
    background-color: #fafafa;
    padding: 32px;
    border-right: 1px solid #eaeaea;
}

.nav>a {
    margin: 8px 0;
    text-decoration: none;
    background: white;
    border-radius: 4px;
    font-size: 14px;
    padding: 12px 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #333;
    border: 1px solid #eaeaea;
    transition: all 0.125s ease;
}

.nav>a:hover {
    background-color: #eaeaea;
}

.input {
    margin: 32px 0;
    text-decoration: none;
    background: white;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    font-size: 14px;
    padding: 8px 16px;
    height: 28px;
}

#__next {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    flex: auto;
}

.body {
    margin: 0;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}